<link type="text/css" rel="stylesheet" href="https://unpkg.com/jsmind@0.8.3/style/jsmind.css" />
<script type="text/javascript" src="https://unpkg.com/jsmind@0.8.3/es6/jsmind.js"></script>
{{ $id := substr (md5 .Inner) 0 16 }}

<div id="{{$id}}"></div>
<div id="{{$id}}-data" style="display: none;">
    {{ .Inner | jsonify  }}
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    const mind = JSON.parse(document.getElementById('{{$id}}-data').textContent);
    var options = {
        container:'{{$id}}',
        editable:true,
        theme:'orange'
    };
    var jm = new jsMind(options);
    // show it
    jm.show(mind);
});
</script>
